version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "photo-hq-dev"
resolve_s3 = true
region = "us-east-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
image_repositories = []
